*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#tictactoe-container{
    display: none;
}
#SingelOrMulty{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#SingelOrMulty button{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}
.game{
    background-color: black;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}
#playgrnd{
    background-color: white;
    height: 150px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#reStart{
    min-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(58, 165, 58);
    display: none;
}
.playAgain {
    transition-duration: 0.7s;
    margin-top: 10%;
    padding: 10px; 
    border-radius: 10px;
    border: none;
}
.playAgain:hover {
    margin-top: 10%;
    padding: 10px; 
    border-radius: 10px;
    background-color: black;
    color: white;
    padding:10px 20px;
    transition-duration: 0.7s;
}
